/* 
    Created on : May 17, 2018, 12:42:03 PM
    Author     : Lukas Boleslavsky
*/

#radar-display{
    background: black;
    width:800px;
    height:600px;                
    display:block;
}
            
.center-block {
    display: block;
    margin: 0 auto;                   
}

