<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fooradar</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css"/> 
        <link rel="stylesheet" href="css/radar.css"/>
        <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="/webjars/phaser/2.3.0/build/phaser.min.js"></script>
        <script src="js/base.js"></script>
        <script src="js/radar.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">            
                <div class="center-block">
                    <h2 th:text="#{title}">Radar</h2>
                    <span id="radar-display"></span>
                    
                    <button type="button" th:text="#{button.change_course}" class="btn btn-primary" data-toggle="modal" data-target="#changeTelemetryModal"  style="margin-top:1em" onclick="resetForm()">
                        Change course
                    </button>
                </div>                 
            </div>     
        </div>
    
        <div id="changeTelemetryModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" th:text="#{label.change_course}">Change course</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="telemetryForm" method="post">
                    <div class="modal-body">

                            <div class="form-group">
                                <label for="id" th:text="#{label.callsign}">Callsign</label>
                                <select id="id" class="form-control">
                                    <option th:each="item:${callsigns}" th:text="${item.name}" th:value="${item.id}">OK-123</option> 
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="direction" th:text="#{label.direction}">Direction (degrees)</label>
                                <input id="direction" class="form-control" type="text" value=""/>
                            </div>

                            <div class="form-group">
                                <label for="speed" th:text="#{label.speed}">Speed (kph)</label>
                                <input id="speed" class="form-control" type="text" value=""/>
                            </div>

                            <div class="form-group">
                                <label for="altitude" th:text="#{label.altitude}">Altitude (meters)</label>
                                <input id="altitude" class="form-control" type="text" value=""/>
                            </div>                                                         

                    </div>

                    <div class="modal-footer">
                      <button type="button" th:text="#{button.close}" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" th:text="#{button.send}" class="btn btn-primary" onclick="sendJson()">Send</button>
                    </div>                 
                </form>
              </div>
            </div>
        </div>
    </body>
</html>
